@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Saira+Condensed&display=swap');

body {
  margin: 0;
  background-color: rgb(15, 15, 15);
  font-family: 'Poppins', sans-serif;
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar styling */
.navbar {
  width: 100vw;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 1;
  color: rgb(224, 224, 224);
  background-color: purple;
  display: flex;
  align-items: center;
}

.navbar .homeLink{
  text-decoration: none !important;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  color: rgb(224, 224, 224);
}


.navbar-brand {
  padding-left: 17px;
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  width: 42px;
  margin-right: 7px;
}

.navbar-brand span {
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
}

.navbar-nav {
  margin-left: auto;
  justify-content: flex-end;
  text-align: right;
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.navbar-nav .profileLinkImg{
  width: 30px;
  border-radius: 100%;
  justify-content: center;
  margin-right: 3px;
}

.navbar-nav li {
  margin-right: 20px;
  list-style: none;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}

.navbar-nav li a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}


.navbar-nav li a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-nav i {
  margin-right: 2px;
  color: black;
}

/* Mobile menu icon */
.mobile-menu-icon {
  display: none;
  cursor: pointer;
  font-size: 26px;
  color: white;
}

.mobile-menu-icon.open {
  display: block;
}

/* Mobile menu styling */
.navbar.mobile-open .navbar-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 0;
  background-color: purple;
  width: 100%;
  padding: 0 !important;
  border-radius: 0px 0px 8px 8px;
}

.navbar.mobile-open .navbar-nav li {
  width: 100%;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid rgba(224, 224, 224, 0.5);
}

.navbar.mobile-open .navbar-nav li:first-child {
  border-top: 1px solid rgba(224, 224, 224, 0.5);
}

.navbar.mobile-open .navbar-nav li:last-child {
  border-bottom: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    padding: 10px 0px; /* Add padding to the Navbar */
  }

  .navbar .homelink {
    width: none;
  }

  .navbar-nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: purple;
    flex-direction: column;
    text-align: center;
  }

  .navbar.mobile-open .navbar-nav {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
    margin-right: 12px;
  }
}


/* About Section */
.about{
  display: flex;
  margin-top: 57px;
  width: 100%;
  height: 90vh;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.left-about{
  width: 45%;
  text-align: center;
}
.left-about img{
  width: 90%;
  margin-top: 10px;
  animation: rotation 28s infinite linear;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.right-about{
  width: 55%;
  height: fit-content;
  text-align: left;
  padding: 0px 50px 30px 25px;
  border-radius: 0px 0px 0px 13px;
  color: whitesmoke;
  background-color: rgba(27, 27, 27, 0.63);
}

.right-about h1{
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 12px !important;
}
.personConnecteds{
  text-align: center;
  margin-bottom: 15px;
}
.personConnecteds img{
  width: 150px;
}

.right-about p{
  margin-top: 0px !important;
}

.right-about button{
  font-size: 13px;
  padding: 8px 14px;
  color: white;
  background-color: purple;
  border-radius: 8px;
  border: none;
  transition: all 0.5s;
}
.right-about button:hover{
  transform: scale(1.02);
  background-color: rgb(117, 0, 117);
  cursor: pointer;
}


/* Login Page */
.earth-animation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loginPage {
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.loginPage-header {
  width: 80%;
  margin: auto auto;
  text-align: center;
  z-index: 1;
  padding-bottom: 80px;
}

.loginPage-header h1 {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 0px;
}

.loginPage-header h3 {
  margin-top: 5px;
}

.loginPage-login {
  margin: auto auto;
  padding: 16px 22px 10px 12px;
  border-radius: 10px;
  background-color: purple;
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.747);
  width: 300px;
}

.loginPage-login form {
  width: 100%;
  display: block;
}

.loginPage-login form input {
  width: 100%;
  height: 28px;
  padding-left: 10px;
  color: whitesmoke;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 10px;
}

.loginPage-login form input:focus {
  border: none;
  outline: none;
}

.loginPage-login form textarea {
  width: 96%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.loginPage-login form textarea:focus {
  border: none;
  outline: none;
}

.forgotLink {
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
  font-size: 11px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.showPasswordDiv {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.showPasswordBox {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.loginPage-login .showPasswordDiv input {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.loginPage-login .showPasswordDiv p {
  text-align: left;
  margin-top: 6px;
  font-size: 13px;
}

.loginPage-login form button {
  margin-left: 5px;
  width: 100%;
  padding: 7px 0px;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
}

.loginPage-login form button:hover {
  cursor: pointer;
  background-color: rgb(19, 19, 19);
}

.dontAccount {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
}

.dontAccountLink {
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.5px;
}

.age-and-age-div {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 5px;
  margin: 4px 0px 5px 0px;
}

.age-and-age-div select {
  background-color: black;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
}

.age-and-age-div select:focus {
  outline: none;
  border: none;
}

/* Media Queries for Responsive Design */

/* For tablets and smaller screens */

@media screen and (max-width: 768px) {
  .loginPage {
    margin-top: 0;
    height: 100vh;
  }

  .loginPage-header{ 
    width: 92%;
  }

  .loginPage-login {
    width: 60%;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .loginPage-header h1 {
    font-size: 30px;
  }

  .loginPage-login {
    width: 80%;
  }
}

/* Home Section */
.home {
  margin-top: 65px;
  padding: 35px 0px;
  background-color: rgb(15, 15, 15);
}

.floatingBtn {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.floatingBtn button {
  width: 100%;
  height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: whitesmoke;
  background-color: rgb(103, 11, 128);
  border: none;
  font-size: 20px;
  transition: all 0.6s;
}

.floatingBtn button:hover {
  cursor: pointer;
  background-color: rgb(160, 0, 160);
  transform: scale(1.09);
}

/* Media Queries for Responsive Design */

/* For tablets and smaller screens */
@media screen and (max-width: 768px) {
  .home {
    padding: 20px 0px;
  }
  .floatingBtn {
    bottom: 20px;
    right: 20px;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .home {
    padding: 40px 10px;
  }
  .floatingBtn {
    bottom: 20px;
    right: 20px;
  }
}


/* Post Card Styles */
.post-card {
  color: whitesmoke;
  background-color: purple;
  box-shadow: 3px 3px 3px 3px rgba(59, 59, 59, 0.375);
  border-radius: 12px;
  width: 40%;
  margin: auto auto;
  margin-bottom: 20px;
}

.post-card-header {
  width: 100%;
  padding-top: 5px;
  display: inline-flex;
  align-items: center;
  padding: 0px 5px;
}

.post-card-header .avatar {
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.spanAuthor {
  display: inline;
  padding-top: 5px;
}

.spanAuthor .userLink {
  text-decoration: none;
}

.post-author {
  width: fit-content;
  color: whitesmoke;
  font-style: italic;
  font-size: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.post-card-header p {
  margin-top: 0px;
  margin-right: 5px;
  font-size: 12px;
  margin-bottom: 20px;
  font-style: italic;
}

.right-postCard {
  margin-left: auto;
  margin-top: -30px;
}

.optionsBtn {
  color: white;
  margin-bottom: 45px;
  margin-right: 15px;
  padding: 0px 5px 0px 5px;
}

.optionsBtn:hover {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 50%;
  cursor: pointer;
}

.box-connector {
  width: 0px;
  height: 0px;
  margin-left: 12px;
  border-bottom: 10px solid rgb(158, 17, 158);
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
}

.options-post {
  position: absolute;
  display: inline-block;
  background-color: rgb(158, 17, 158);
  box-shadow: 3px 3px 3px rgba(59, 59, 59, 0.375);
  width: 15%;
  margin-left: 12px;
  height: fit-content;
  border-radius: 0px 15px 15px 15px !important;
}

/* For tablets and smaller screens */
@media screen and (max-width: 768px) {
  .options-post{
    width: 32%;
    margin-left: -32% !important;
    border-radius: 15px 0px 15px 15px !important;
  }
  .options-post button p{
    font-size: smaller;
  }
  .box-connector {
    width: 0px;
    height: 0px;
    margin-left: -39.5%;
    border-bottom: 10px solid rgb(158, 17, 158);
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
  }
}

/* For mobile devices */
/* @media screen and (max-width: 576px) {
  .home {
    padding: 40px 10px;
  }
  .floatingBtn {
    left: 80vw;
  }
  .floatingBtn button {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
} */

.options-post button {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 10px;
}

.options-post button:hover {
  cursor: pointer;
  background-color: rgb(177, 20, 177);
}

.options-post button:first-child {
  border-radius: 0px 15px 0px 0px;
}

.options-post button:last-child {
  border-radius: 0px 0px 15px 15px;
}

.options-post p {
  margin: 0 !important;
  width: 100%;
  color: white;
}

.options-post i {
  margin-right: 5px;
}

.post-card-body {
  padding: 0px 8px;
}

.post-card-body p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.post-card .media {
  width: 100%;
}

/* Media Queries for Responsive Design */

/* For tablets and smaller screens */
@media screen and (max-width: 768px) {
  .post-card {
    width: 70%;
    margin-bottom: 25px;
  }
  .post-card-header .avatar {
    width: 50px;
  }
  .post-card-header p {
    font-size: 11px;
  }
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .post-card {
    width: 90%;
    margin-bottom: 25px;
  }
  .post-card-header .avatar {
    width: 50px;
  }
  .post-card-header p {
    font-size: 11px;
  }
}

.media a{
  position: fixed;
  color: rgba(255, 255, 255, 0.224);
  margin: 3px 0px 0px 5px;
  cursor: pointer;
}

.post-card .media img{
  width: 100%;
}

.reactions{
  width: 100%;
  height: 30px;
  display: inline-flex;
  margin-top: -10px;
  padding: 0px 12px 15px 12px;
}

.likes{
  display: inline-flex;
  align-items: baseline;
  font-size: 14px;
}

.likes a{
  display: inline-flex;
  align-items: baseline;
}

.likes a:hover{
  cursor: pointer;
}

.likes p{
  margin-right: 12px;
}

.likes i{
  padding-right: 4px;
}

.comments{
  display: inline-flex;
  align-items: baseline;
  font-size: 14px;
}

.comments a{
  display: inline-flex;
  align-items: baseline;
}
.comments a:hover{
  cursor:pointer ;
}

.comments i{
  margin-right: 4px;
}

.reactions-btns{
  width: fit-content;
  display: inline-flex;
  margin-left: auto;
  margin-right: -12px;
}

.reactions-btns button{
  background-color: rgb(156, 8, 156);
  border-left: 1.8px solid rgba(232, 232, 232, 0.841);
  border-top: 1.8px solid rgba(232, 232, 232, 0.841);
  border-right: none;
  border-bottom: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px 0px 12px 0px;
  margin-right: 2px;
  font-style: italic;
  font-size: 10px;
  display: inline-flex;
  align-items: baseline;
}

.reactions-btns .left{
  border-radius: 5px 0px 0px 0px;
  margin-right: -3px;
  padding-right: 13px;
}

.reactions-btns .right{
  border-top-left-radius: 0px;
}

.reactions-btns button:hover{
  cursor: pointer;
  background-color: rgb(168, 8, 168);
}

.comment-field{
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
}

.comment-field textarea{
  width: 98% !important;
  height: 17px;
  padding: 6px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: -9px;
  font-size: small;
  overflow: hidden;
  resize: none;
}

.comment-field textarea:focus{
  outline:none ;   /* remove the focus */
}

.btn-comment{
  width: 98%;
  padding: 2px 6px;
  display: inline-flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 0px 0px 5px 5px;
  padding-top: 6px;
}

.btn-comment .extra-content-btn{
  width: 22px;
  height: 22px;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  background-color: rgb(148, 6, 148);
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 3px;
  transition: all 0.5s;
}

.btn-comment .extra-content-btn:hover{
  cursor: pointer;
}


.btn-comment .postCommentBtn{
  height: 22px;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  background-color: rgb(148, 6, 148);
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 3px;
  transition: all 0.5s;
}

.btn-comment .postCommentBtn:hover{
  cursor: pointer;
  background-color: rgb(162, 6, 162);
  transform: scale(1.04);
}

.postCommentBtn i{
  margin-right: 4px;
}

/* Create Post Modal */
.newPostPage-body{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 75vh;
  z-index: 1;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  margin: auto auto;
  padding: 0px 22px 15px 13px;
  border-radius: 10px;
  background-color: rgb(139, 5, 139);
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.857);
}

.media-selected{
  height: 70vh !important;
  padding: 0px 12px 15px 13px !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: purple;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.newPostPage-body{
  width: 400px;
  display: block;
}

.newPostPage-body .header-card{
  width: 100%;
}

.newPostPage-body .header-card a{
  font-size: 20px;
  color: black;
  margin-left: -8px;
  cursor: pointer;
}

.newPostPage-body h2{
  color: white;
  font-size: larger;
  text-align: center;
  margin: -12px 0px 12px 0px !important;
}

.newPostPage-body textarea{
  width: 96%;
  height: 60px;
  background-color: rgb(86, 2, 86);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  resize: none;
  overflow: hidden;
}

.newPostPage-body textarea:focus{
  border: none;
  outline: none;
}

.newPostPage-body .media{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-left: 2px;
}
.newPostPage-body .media img{
  width: 100%;
  border-radius: 5px;
}


.extra-btns{
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.extra-btns .emojis{
  width: 23px;
  height: 23px;
  font-size: 70%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.newPostPage-body .postBtn{
  margin-left: 5px;
  width: 100%;
  padding: 7px 0px;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
}

.newPostPage-body .postBtn:hover{
  cursor: pointer;
  background-color: rgb(19, 19, 19);
}


/* Profile Page */
.profile{
  margin-top: 57px;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.profile .container {
  height: 56vh;
  width: 100%;
  padding: 0 !important;
  background-color: rgb(15, 15, 15) !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.291); /* Add a top shadow effect */
  
}

.profile-header{
  width: 80%;
  height: 35vh;
  margin: auto auto;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 20px 20px;
}

.header-container{
  margin: auto auto;
  padding: 0px 150px;
  margin-top: -65px;
  display: flex;
  align-items: center !important;
}

.profile-pic{
  display: flex;
  align-items: end;
}
.profile-pic img{
  width: 150px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
}

.profile-pic a{
  color: white;
  background-color: purple;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 15px;
  margin-left: -35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.profile-pic a:hover{
  color: white;
  background-color: rgb(142, 0, 142);
  transform: scale(1.05);
}


.profile-info{
  display: inline;
  padding-top: 80px;
  margin-left: 25px;
}
.profile-info h1{
  margin: 0px;
  color: white;
  margin-bottom: -5px;
}
.profile-info h4{
  margin: 0px;
  color: white;
}

.profile-btns{
  display: flex;
  margin-left: auto;
  margin-top: 85px;
}
.profile-btns button{
  padding: 9px 18px;
  background-color: purple;
  color: white;
  border-radius: 7px;
  border: none;
  margin-right: 10px;
  cursor: pointer !important;
}
.profile-btns button:hover{
  background-color: rgb(162, 2, 162);
  color: white;
  cursor: pointer;
}

.profile-content-posts{
  width: 100%;
  display: inline;
  margin: auto auto;
  padding-bottom: 60px;
  background-color: white;
}

.display-posts{
  padding-bottom: 30px;
}

.profile-content-posts .head-container{
  width: 100%;
  margin: auto auto;
}

.switcher-menu{
  width: 700px;
  align-items: center;
  margin: auto auto;
  display: flex;
  margin-bottom: 30px;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(108, 7, 108);
}
.switcher-menu a{
  width: 50%;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  background-color: transparent;
  color: rgb(230, 230, 230);
  font-style: italic;
  font-weight: bolder;
  align-self: center;
  transition: all 0.3s ease-in-out;
}

.switcher-menu a:hover{
  color: rgb(228, 228, 228);
  transform: scale(1.01);
  cursor: pointer;
}

.switcher-menu .active-left{
  border-radius: 0px 0px 0px 10px;
  background-color: rgb(91, 11, 91);
  color: white;
  border-bottom: 4px solid rgb(180, 15, 180);
}

.switcher-menu .active-right{
  border-radius: 0px 0px 10px 0px;
  color: white;
  background-color: rgb(91, 11, 91);
  border-bottom: 4px solid rgb(162, 13, 162);
}

.actionFriendIcon{
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-bottom: 30px;
  margin-right: 5px;
  background-color: rgb(172, 0, 172);
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.actionFriendIcon:hover{
  cursor: pointer;
  background-color: rgb(191, 0, 191);
  transform: scale(1.03);
}

.actionIsFriendIcon{
  width: 22px;
  margin-right: 2px;
}

.isFriend{
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 5px;
}


/* Media Queries */
@media (max-width: 768px) {
  .profile-header {
    height: 15vh;
  }
  /* Adjust header container padding and profile info for smaller screens */
  .profile .container{
    text-align: center;
    height: fit-content;
  }
  .profile-header{
    width: 100vw;
  }
  .header-container {
    display: inline-block;
    padding: 0px 10px 40px 10px;
  }

  .profile-info {
    padding-top: 10px;
    margin-left: 5px;
  }

  /* Adjust profile buttons margin for smaller screens */
  .profile-btns {
    margin-top: 10px;
  }

  .profile-pic{
    display: inline;
  }

  /* Adjust profile picture size and margin for smaller screens */
  .profile-pic img {
    width: 130px;
    margin: auto auto;
  }

  /* Adjust switcher menu width for smaller screens */
  .switcher-menu {
    width: 90%;
  }

  /* Adjust switcher menu item width for smaller screens */
  .switcher-menu a {
    width: 100%;
  }

  /* Adjust action friend icon margin for smaller screens */
  .actionFriendIcon {
    margin-bottom: 10px;
  }

  /* Adjust isFriend margin for smaller screens */
  .isFriend {
    margin-bottom: 5px;
  }
}

/* Edit Profile Page */
.editProfile{
  margin-top: 57px;
  width: 100%;
}

.editProfile-header{
  width: 100%;
  height: 30vh;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.editProfile img{
  width: 150px;
  border-radius: 50%;
  position: relative;
  top: 32%;
  left: 42%;
  border: 2.5px solid rgb(17, 17, 17);
}

.chooseNewPic{
  width: 100%;
  position: relative;
  top: 13%;
  left: 38.5%;
}

.chooseNewPic i{
  color: white;
  background-color: rgb(140, 43, 129);
  padding: 9px;
  border-radius: 50%;
  border: 2px solid rgb(17, 17, 17);
}

.chooseNewPic i:hover{
  cursor: pointer;
}

.editProfile-content{
  margin: auto;
  margin-top: 0px;
  padding: 50px 22px 10px 12px;
  border-radius: 0px 0px 10px 10px;
  background-color: purple;
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.507);
  width: 400px;
}


.editProfile-content form{
  width: 100%;
  display: block;
}

.editProfile-content form input{
  width: 100%;
  height: 28px;
  padding-left: 10px;
  color: whitesmoke;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 15px;
}

.editProfile-content form input:focus{
  border: none;
  outline: none;
}

.editProfile-content form textarea{
  width: 96%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.editProfile-content form textarea:focus{
  border: none;
  outline: none;
}


.forgotLink{
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
  font-size: 11px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.showPasswordDiv{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.showPasswordBox{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.editProfile-content .showPasswordDiv input{
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.editProfile-content .showPasswordDiv p{
  text-align: left;
  margin-top: 6px;
  font-size: 13px;
}

.editProfile-content form button{
  margin-left: 5px;
  width: 100%;
  padding: 7px 0px;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
}

.editProfile-content form button:hover{
  cursor: pointer;
  background-color: rgb(19, 19, 19);
}

.dontAccount{
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
}
.dontAccountLink{
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.5px;
}

.age-and-age-div{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 5px;
  margin: 4px 0px 5px 0px;
}
.age-and-age-div select{
  background-color: black;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
}
.age-and-age-div select:focus{
  outline: none;
  border: none;
}

/* Friends Page */
.friends {
  width: 100%;
  text-align: center;
  background-color: rgb(15, 15, 15);
  overflow-x: hidden;
  padding-top: 80px;
}


.friends .header {
  height: auto !important;
  text-align: center;
  color: white;
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  padding: 0px 40px 20px 40px;
}

.friends .container .body {
  width: 100%;
  margin: auto auto;
  display: inline-block;
  margin-top: 30px;
}

.friend-card {
  width: 60%;
  height: fit-content;
  box-shadow: 3px 3px 3px 3px rgba(59, 59, 59, 0.514);
  display: inline-flex;
  margin: auto auto;
  background-color: purple;
  margin-bottom: 20px;
  border-radius: 15px;
}

.friend-card img {
  width: 15%;
  max-height: 100%;
  border-radius: 15px 0px 0px 15px;
}

.friend-info {
  width: 85%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding: 0px 15px;
}

.friend-info .info{
  width: 60%;
  text-align: left;
}

.friend-info .fullName {
  color: white;
  font-size: 22px;
  margin-bottom: -17px;
}

.friend-info .username {
  font-size: 14px;
  color: rgb(237, 237, 237);
}

.friends-btns {
  width: 100%;
  display: inline-block;
  text-align: right;
  align-items: center;
}

.friends-btns .deleteBtn {
  padding: 10px 9px;
  font-size: 12px;
  text-align: center;
  background-color: rgb(194, 0, 0);
  color: white;
  border-radius: 5px;
  border: 1.6px solid rgba(80, 80, 80, 0.697);
}

.friends-btns .deleteBtn:hover {
  background-color: rgb(211, 0, 0);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.friends-btns .deleteBtn i {
  margin-right: 5px;
}

/* For mobile devices */
@media screen and (max-width: 576px) {
  .friend-card {
    width: 80%;
    height: fit-content !important;
  }

  .friend-card img {
    width: 30%;
    border-radius: 15px 0px 0px 15px;
  }
  
  .friend-info {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  .friend-info .info{
    width: 100%;
  }

  p.fullName{
    margin-top: 12px !important;
    margin-bottom: 0px !important;
  }

  .friend-info .username{
    display: none;
  }

  .friend-info .friends-btns{
    width: 100%;
    text-align: center;
    padding: 10px 0px 20px 0px;
  }
}

/* Post View Page */
.postView{
  width: 100%; 
  overflow: hidden;
}
.container{
  width: 100%;
  padding: 80px 10px;
}
.comments{
  width: 100%;
}

.comments .container{
  width: 50%;
  margin: auto auto;
  padding: 0px 10px;
  padding-bottom: 15px;
  background-color: purple;
  box-shadow: 3px 3px 3px 3px rgba(59, 59, 59, 0.514);
  border-radius: 5px 5px 15px 15px;
  display: inline;
}

.comments .head{
  width: 100%;
  display: inline-flex;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 5px;
}

.comments .head h2{
  color: white;
  font-style: italic;
  margin: 10px 5px;
}

.comments .body{
  width: 100%;
  display: inline-block;
  padding: 0px 8px !important;
}

/* Comment */
.comment{
  width: 96%;
  display: inline-block;
  height: fit-content;

}

.comment .top{
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: -5px;
}

.comment .top .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment .top .author{
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 0px 5px;
  font-style: italic;
}
.comment .top .time{
  font-size: 10px;
  color: whitesmoke;
  margin-top: 15px;
  padding-left: 3px;
}

.comment .top .dltComment{
  margin-left: auto;
  color: white;
  margin-top: 25px;
  font-size: 10px;
  padding: 5px 4px;
  padding-left: 8px;
  border-radius: 50%;
  transition: all 0.4s;
}
.comment .top .dltComment:hover{
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.271);
  transform: scale(1.08);
}

.comment .bottom{
  width: 100%;
  display: inline-flex;
}

.comment .bottom p{
  color: white;
  margin-top: 0px !important;
  margin-bottom: 5px;
}

.no-comments{
  color: white;
  font-size: medium;
  text-align: center;
  margin-top: 20px;
}

/* Delete Comment Modal */
.deleteModal{
  width: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto auto;
  padding: 20px;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  color: purple;
  text-align: center;
  display: inline-block;
}

.deleteModal i{
  color: purple;
  font-size: large;
  padding: 6px 7px;
  background-color: rgba(126, 113, 126, 0.301);
  border-radius: 50%;
}

.deleteModal .btn-container{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.deleteModal .btn-container .no{
  background-color: purple;
  color: white;
  border: none;
  padding: 4px 18px;
  border-radius: 5px;
}
.deleteModal .btn-container .no:hover{
  cursor: pointer;
  background-color: rgb(154, 0, 154);
}
.deleteModal .btn-container .yes{
  background-color: rgb(191, 0, 166);
  color: white;
  border: none;
  padding: 4px 18px;
  border-radius: 5px;
}
.deleteModal .btn-container .yes:hover{
  cursor: pointer;
  background-color: rgb(167, 0, 145);
}


/* Edit Profile Photo Modal */
.image-upload-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: purple;
  border: 2.3px solid rgba(0, 0, 0, 0.739);
  border-radius: 15px;
  width: 350px;
  text-align: center;
}

.close-top{
  width: 100%;
  text-align: left;
  padding-top: 3px;
}
.close-top a{
  font-size: 18px;
  color: black;
  margin-left: 8px;
  cursor: pointer;
}

.image-upload-label {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  height: 10%;
  color: white;
}

.image-upload-container input{
  text-align: center;
  
}

.imageBox{
  margin: 15px 0px 5px 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 75%;
  transform: translateX(-41.4%);
}

.img-display {
  height: 70%;
  max-width: 100%;
  border: 0px !important;
  border-radius: 50% !important;
}

.image-upload-input {
  display: none;
}

.uploadPicBtn-container{
  height: 15%;
}

.image-upload-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.6rem 1.5rem;
  margin: 1rem 0rem 1.4rem 0rem;
  cursor: pointer;
  border-radius: 5px;

}

.image-upload-button:hover {
  background-color: #3e8e41;
}

