

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Saira+Condensed&display=swap');


body {
  margin: 0;
  background-color: black;
  font-family: 'Poppins', sans-serif;
font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.navbar{
  position: fixed;
  top: 0%;
  width: 100%;
  color: rgb(224, 224, 224);
  background-color: purple;
  display: inline-flex;
  align-items: center;
}


.navbar-brand{
  width: 30%;
  padding-left: 17px;
  display: inline-flex;
  align-items: center;
}
.navbar-brand .logo{
  width: 42px;
  margin-right: 7px;
}
.navbar-brand span{
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
}

.navbar-nav{
  width: 70%;
  justify-content: right;
  text-align: right;
  display: inline-flex;
  margin-right: 15px;
}

.navbar-nav li{
  margin-right: 20px;
  list-style: none;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}
.navbar-nav li a{  
  color: rgb(224, 224, 224);
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.navbar-nav li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.7px;
  left: 50%;
  position: absolute;
  background: rgba(0, 0, 0, 0.548);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav li a:hover:after { 
  width: 100%; 
  left: 0; 
}

.navbar-nav i{
  margin-right: 2px;
  color: black;
}



/* About Section */
.about{
  display: flex;
  margin-top: 57px;
  width: 100%;
  height: 90vh;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.left-about{
  width: 45%;
  text-align: center;
}
.left-about img{
  width: 90%;
  margin-top: 10px;
  animation: rotation 28s infinite linear;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.right-about{
  width: 55%;
  height: fit-content;
  text-align: left;
  padding: 0px 50px 30px 25px;
  border-radius: 0px 0px 0px 13px;
  color: whitesmoke;
  background-color: rgba(27, 27, 27, 0.63);
}

.right-about h1{
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 12px !important;
}
.personConnecteds{
  text-align: center;
  margin-bottom: 15px;
}
.personConnecteds img{
  width: 150px;
}

.right-about p{
  margin-top: 0px !important;
}

.right-about button{
  font-size: 13px;
  padding: 8px 14px;
  color: white;
  background-color: purple;
  border-radius: 8px;
  border: none;
  transition: all 0.5s;
}
.right-about button:hover{
  transform: scale(1.02);
  background-color: rgb(117, 0, 117);
  cursor: pointer;
}


/* Login Page */
.loginPage{
  width: 100%;
  height: 90vh;
  margin-top: 57px;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}

.loginPage-header{
  text-align: center;
  padding-top: 50px;
}

.loginPage-header h1{
  font-size: 40px;
  font-style: italic;
  margin-bottom: 0px;
}
.loginPage-header h3{
  margin-top: 5px;  
}

.loginPage-login{
  margin: auto auto;
  padding: 16px 22px 10px 12px;
  border-radius: 10px;
  background-color: purple;
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.747);
  width: 300px;
}

.loginPage-login form{
  width: 100%;
  display: block;
}

.loginPage-login form input{
  width: 100%;
  height: 28px;
  padding-left: 10px;
  color: whitesmoke;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 10px;
}

.loginPage-login form input:focus{
  border: none;
  outline: none;
}

.loginPage-login form textarea{
  width: 96%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.loginPage-login form textarea:focus{
  border: none;
  outline: none;
}


.forgotLink{
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
  font-size: 11px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.showPasswordDiv{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.showPasswordBox{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.loginPage-login .showPasswordDiv input{
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.loginPage-login .showPasswordDiv p{
  text-align: left;
  margin-top: 6px;
  font-size: 13px;
}

.loginPage-login form button{
  margin-left: 5px;
  width: 100%;
  padding: 7px 0px;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
}

.loginPage-login form button:hover{
  cursor: pointer;
  background-color: rgb(19, 19, 19);
}

.dontAccount{
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
}
.dontAccountLink{
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.5px;
}

.age-and-age-div{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 5px;
  margin: 4px 0px 5px 0px;
}
.age-and-age-div select{
  background-color: black;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
}
.age-and-age-div select:focus{
  outline: none;
  border: none;
}


/* Home Section */
.home{
  margin-top: 57px;
  padding: 35px 0px;
  background-color: rgb(15, 15, 15);
}

.floatingBtn{
  position: fixed;
  top: 86vh;
  left: 92vw;
}

.floatingBtn button{
  width: 100%;
  height: 100%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: whitesmoke;
  background-color: rgb(141, 0, 141);
  border: none;
  font-size: 20px;
  transition: all 0.6s;
}
.floatingBtn button:hover{
  cursor: pointer;
  background-color: rgb(160, 0, 160);
  transform: scale(1.09);
}


/* Post Card Styles */

.post-card{
  color: whitesmoke;
  background-color: purple;
  box-shadow: 3px 3px 3px 3px rgba(59, 59, 59, 0.514);
  border-radius: 12px;
  width: 60%;
  margin: auto auto;
  padding: 0px 12px;
  margin-bottom: 20px;
}
.post-card-header{
  width: 100%;
  padding-top: 5px;
  display: inline-flex;
  align-items: center;
}

.post-card-header .avatar{
  width: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.spanAuthor{
  display: inline;
  padding-top: 5px;
}

.spanAuthor .userLink{
  text-decoration: none;
}

.post-author{
  color: whitesmoke;
  font-style: italic;
  font-size: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}


.post-card-header p{
  margin-top: 0px;
  margin-right: 5px;
  font-size: 12px;
  margin-bottom: 20px;
  font-style: italic;
}

.optionsBtn{
  margin-left: auto;
  color: white;
  margin-bottom: 45px;
  padding: 0px 5px 0px 5px;
}

.optionsBtn:hover{
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 50%;
  color: purple;
  
}


.post-card-body p{
  margin-top: 0px;
  margin-bottom: 10px;
}

.reactions{
  width: 100%;
  height: 30px;
  display: inline-flex;
}

.likes{
  display: inline-flex;
  align-items: baseline;
  font-size: 14px;
}

.likes a{
  display: inline-flex;
  align-items: baseline;
}

.likes a:hover{
  cursor: pointer;
}

.likes p{
  margin-right: 12px;
}

.likes i{
  padding-right: 4px;
}

.comments{
  display: inline-flex;
  align-items: baseline;
  font-size: 14px;
}

.comments a{
  display: inline-flex;
  align-items: baseline;
}
.comments a:hover{
  cursor:pointer ;
}

.comments i{
  margin-right: 4px;
}

.reactions-btns{
  width: fit-content;
  display: inline-flex;
  margin-left: auto;
  margin-right: -12px;
}

.reactions-btns button{
  background-color: rgb(156, 8, 156);
  border-left: 1.8px solid rgba(232, 232, 232, 0.841);
  border-top: 1.8px solid rgba(232, 232, 232, 0.841);
  border-right: none;
  border-bottom: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px 0px 12px 0px;
  margin-right: 2px;
  font-style: italic;
  font-size: 10px;
  display: inline-flex;
  align-items: baseline;
}

.reactions-btns .left{
  border-radius: 5px 0px 0px 0px;
  margin-right: -3px;
  padding-right: 13px;
}

.reactions-btns .right{
  border-top-left-radius: 0px;
}

.reactions-btns button:hover{
  cursor: pointer;
  background-color: rgb(168, 8, 168);
}

.comment-field{
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
}

.comment-field textarea{
  width: 98% !important;
  height: 17px;
  padding: 6px;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: -9px;
  font-size: small;
  overflow: hidden;
  resize: none;
}

.comment-field textarea:focus{
  outline:none ;   /* remove the focus */
}

.btn-comment{
  width: 98%;
  padding: 2px 6px;
  display: inline-flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 0px 0px 5px 5px;
  padding-top: 6px;
}

.btn-comment .extra-content-btn{
  width: 22px;
  height: 22px;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  background-color: rgb(148, 6, 148);
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 3px;
  transition: all 0.5s;
}

.btn-comment .extra-content-btn:hover{
  cursor: pointer;
}

.emojiPicker{
  position: absolute;

}

.btn-comment .postCommentBtn{
  height: 22px;
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  background-color: rgb(148, 6, 148);
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 3px;
  transition: all 0.5s;
}

.btn-comment .postCommentBtn:hover{
  cursor: pointer;
  background-color: rgb(162, 6, 162);
  transform: scale(1.04);
}

.postCommentBtn i{
  margin-right: 4px;
}

/* Create Post Page */
.newPostPage{
  width: 100%;
  height: 90vh;
  margin-top: 57px;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}

.newPostPage-header{
  text-align: center;
  padding-top: 50px;
}

.newPostPage-header h1{
  font-size: 40px;
  font-style: italic;
  margin-bottom: 0px;
}
.newPostPage-header h3{
  margin-top: 5px;  
}

.newPostPage-body{
  margin: auto auto;
  padding: 16px 22px 10px 12px;
  border-radius: 10px;
  background-color: purple;
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.747);
  width: 40%;
}

.newPostPage-body{
  width: 400px;
  display: block;
}

.newPostPage-body textarea{
  width: 96%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  overflow: hidden;
}

.newPostPage-body textarea:focus{
  border: none;
  outline: none;
}

.extra-btns{
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.extra-btns .emojis{
  width: 23px;
  height: 23px;
  font-size: 70%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.newPostPage-body .postBtn{
  margin-left: 5px;
  width: 100%;
  padding: 7px 0px;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
}

.newPostPage-body .postBtn:hover{
  cursor: pointer;
  background-color: rgb(19, 19, 19);
}


/* Profile Page */
.profile{
  margin-top: 57px;
  width: 100%;
}

.profile-header{
  width: 100%;
  height: 30vh;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-header img{
  width: 150px;
  border-radius: 50%;
  position: relative;
  top: 30%;
  left: 42%;
  border: 2.5px solid rgb(17, 17, 17);
}

.profile-content{
  width: 100%;
  display: inline-flex;
  background-color: white;
}

.profile-content-info{
  width: 30%;
  height: 100vh;
  padding: 20px;
  background-color: purple;
  color: whitesmoke;
  border-radius: 0px 0px 40px 0px;
}

.profileInfoSpan{
  width: 100%;
  margin-bottom: -10px;
  font-weight: 500 !important;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.profileInfoSpan h1{
  font-size: 2rem;
}

.profileInfoSpan a{
  color: whitesmoke;
  margin-left: auto;
  height: fit-content;
  padding: 3px 4px 3px 4px;
  border-radius: 50%;
  transition: all 0.4s;
}

.profileInfoSpan a:hover{
  transform: scale(1.05);
}

.profile-content-info h1{
  margin-top: 0px;
}

.profile-content-info h2{
  margin-bottom: 10px;
}

.profile-content-info h4{
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 1px;
}

.profile-content-posts{
  width: 70%;
  padding-top: 60px;
}


.actionFriendIcon{
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-bottom: 30px;
  margin-right: 5px;
  background-color: rgb(172, 0, 172);
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.actionFriendIcon:hover{
  cursor: pointer;
  background-color: rgb(191, 0, 191);
  transform: scale(1.03);
}

.actionIsFriendIcon{
  width: 22px;
  margin-right: 2px;
}

.isFriend{
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 5px;
}



/* Edit Profile Page */
.editProfile{
  margin-top: 57px;
  width: 100%;
}

.editProfile-header{
  width: 100%;
  height: 30vh;
  background-image: url('./assets/aboutBg.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.editProfile img{
  width: 150px;
  border-radius: 50%;
  position: relative;
  top: 32%;
  left: 42%;
  border: 2.5px solid rgb(17, 17, 17);
}

.chooseNewPic{
  width: 100%;
  position: relative;
  top: 13%;
  left: 38.5%;
}

.chooseNewPic i{
  color: white;
  background-color: rgb(140, 43, 129);
  padding: 9px;
  border-radius: 50%;
  border: 2px solid rgb(17, 17, 17);
}

.chooseNewPic i:hover{
  cursor: pointer;
}

.editProfile-content{
  margin: auto;
  margin-top: 0px;
  padding: 50px 22px 10px 12px;
  border-radius: 0px 0px 10px 10px;
  background-color: purple;
  box-shadow: 2px 2px 2px 2px rgba(49, 49, 49, 0.507);
  width: 400px;
}


.editProfile-content form{
  width: 100%;
  display: block;
}

.editProfile-content form input{
  width: 100%;
  height: 28px;
  padding-left: 10px;
  color: whitesmoke;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: black;
  margin-bottom: 15px;
}

.editProfile-content form input:focus{
  border: none;
  outline: none;
}

.editProfile-content form textarea{
  width: 96%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.editProfile-content form textarea:focus{
  border: none;
  outline: none;
}


.forgotLink{
  text-align: right;
  margin-bottom: 5px;
  width: 100%;
  font-size: 11px;
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.showPasswordDiv{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.showPasswordBox{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.editProfile-content .showPasswordDiv input{
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.editProfile-content .showPasswordDiv p{
  text-align: left;
  margin-top: 6px;
  font-size: 13px;
}

.editProfile-content form button{
  margin-left: 5px;
  width: 100%;
  padding: 7px 0px;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
}

.editProfile-content form button:hover{
  cursor: pointer;
  background-color: rgb(19, 19, 19);
}

.dontAccount{
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
}
.dontAccountLink{
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11.5px;
}

.age-and-age-div{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 5px;
  margin: 4px 0px 5px 0px;
}
.age-and-age-div select{
  background-color: black;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
}
.age-and-age-div select:focus{
  outline: none;
  border: none;
}

/* Friends Page */
.friends{
  width: 100%;
  text-align: center;
  background-color: black;
}

.container{
  padding: 50px;
}

.header{
  height: auto !important ;
  width: 100%;
  text-align: left;
  color: white;
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}
.header i{
  font-size: 28px;
  color: white !important;
  margin-right: 10px;
}

.body{
  width: 100%;
  margin: auto auto;
  display: inline;
}

.friend-card{
  width: 80%;
  height: 100px;
  box-shadow: 3px 3px 3px 3px rgba(59, 59, 59, 0.514);
  display: inline-flex;
  margin: auto auto;
  background-color: purple;
  margin-bottom: 20px;
  border-radius: 5px;
}

.friend-card img{
  width: 15%;
  height: 99%;
  border-radius: 5px 0px 0px 5px;
}

.friend-info{
  width: 35%;
  text-align: left;
  margin-left: 20px;
  display: inline;
}

.friend-info .fullName{
  color: white;
  font-size: 20px;
  margin-bottom: -17px !important;
}

.friend-info .username{
  font-size: 14px;
  color: rgb(237, 237, 237);
}

.friends-btns{
  width: 50%;
  text-align: right;
  padding-top: 14px;
  padding-right: 15px;
}

.friends-btns .deleteBtn{
  height: 28px;
  font-size: 60%;
  text-align: center;
  background-color: rgb(194, 0, 0);
  color: white;
  border-radius: 5px;
  border: 1.6px solid rgba(80, 80, 80, 0.697);
}

.friends-btns .deleteBtn:hover{
  background-color: rgb(211, 0, 0);
  cursor: pointer;
  transition: all ease-in-out 0.2s;   /*ease in out*/
}

.friends-btns .deleteBtn i{
  margin-right: 5px;
}

/* Post View Page */
.postView{
  width: 100%; 
  overflow: hidden;
}
.container{
  width: 100%;
  padding: 80px 10px;
}
.comments{
  width: 100%;
}

.comments .container{
  width: 50%;
  margin: auto auto;
  padding: 0px 10px;
  padding-bottom: 15px;
  background-color: purple;
  box-shadow: 3px 3px 3px 3px rgba(59, 59, 59, 0.514);
  border-radius: 5px 5px 15px 15px;
  display: inline;
}

.comments .head{
  width: 100%;
  display: inline-flex;
  border-bottom: 1px solid whitesmoke;
  margin-bottom: 5px;
}

.comments .head h2{
  color: white;
  font-style: italic;
  margin: 10px 5px;
}

.comments .body{
  width: 100%;
  display: inline-block;
  padding: 0px 8px !important;
}

/* Comment */
.comment{
  width: 96%;
  display: inline-block;
  height: fit-content;

}

.comment .top{
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: -5px;
}

.comment .top .avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment .top .author{
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 0px 5px;
  font-style: italic;
}
.comment .top .time{
  font-size: 10px;
  color: whitesmoke;
  margin-top: 15px;
  padding-left: 3px;
}

.comment .top .dltComment{
  margin-left: auto;
  color: white;
  margin-top: 25px;
  font-size: 10px;
  padding: 5px 4px;
  padding-left: 8px;
  border-radius: 50%;
  transition: all 0.4s;
}
.comment .top .dltComment:hover{
  cursor: pointer;
  background-color: rgba(196, 196, 196, 0.271);
  transform: scale(1.08);
}

.comment .bottom{
  width: 100%;
  display: inline-flex;
}

.comment .bottom p{
  color: white;
  margin-top: 0px !important;
  margin-bottom: 5px;
}

.no-comments{
  color: white;
  font-size: medium;
  text-align: center;
  margin-top: 20px;
}

/* Delete Comment Modal */
.deleteCommentModal{
  width: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto auto;
  padding: 20px;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  color: purple;
  text-align: center;
  display: inline-block;
}

.deleteCommentModal i{
  color: purple;
  font-size: large;
  padding: 6px 7px;
  background-color: rgba(126, 113, 126, 0.301);
  border-radius: 50%;
}

.deleteCommentModal .btn-container{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.deleteCommentModal .btn-container .no{
  background-color: purple;
  color: white;
  border: none;
  padding: 4px 18px;
  border-radius: 5px;
}
.deleteCommentModal .btn-container .no:hover{
  cursor: pointer;
  background-color: rgb(154, 0, 154);
}
.deleteCommentModal .btn-container .yes{
  background-color: rgb(191, 0, 166);
  color: white;
  border: none;
  padding: 4px 18px;
  border-radius: 5px;
}
.deleteCommentModal .btn-container .yes:hover{
  cursor: pointer;
  background-color: rgb(167, 0, 145);
}